* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------- HEADER  ----------- */
.headerIndex{
    background-color:#282d32;
}

.headerIndex a{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.navbarIndex li{
  padding: 20px;  
}
.socialIndex > a {
    font-size:15px;
    width:25px;
    height:25px;
    line-height:25px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 5px;
    color:#fff;
    opacity:0.75;
  }
  .socialIndex{
    display:flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .socialIndex2{
    color: white;
    padding-left:25px;
    width: 100%; 
}
  .socialIndex a:hover {
    opacity:0.5;
  }
  
/* ---------- CONTENIDO PRINCIPAL INDEX--------*/
  .portada{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .card img{
    border-radius: 2rem;
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-bottom: 15px;
    border-radius: 2rem;
    border-color:#282d32
  }
  .card-body h5{
    display: flex;
    justify-content: center;
  }
  .card-body p{
    display: flex;
    justify-content: center;
  }
  .colIndex{
    display: flex;
    justify-content: center;
    
  }
  .fichas{
    display: flex;
    flex-direction: row;
      align-content: center;
      justify-content: center;
  }
  
/*----------- CONTENIDO PAGINA QUIENES SOMOS -------*/
.tituloQuienesSomos{
  display: flex;
  justify-content: left;
  letter-spacing: 15px;
  padding: 8px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
/* ---- PAGINA MAIN QUIENES SOMOS ----*/
  .sectionGrid{
    display: grid;
    grid-template-columns: repeat(2fr*2);
    grid-template-rows: repeat(2fr*5);
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: 
    "vision entrenamiento"
    "nosotros nosotros"
    "imagenAuto1 descripcionAuto1"
    "imagenAuto2 descripcionAuto2"
    "imagenAuto3 descripcionAuto3";
    width: 100%;
  }
.vision{
  grid-area: vision;
}
.entrenamiento{
  grid-area: entrenamiento;
}
.nosotros{
  grid-area: nosotros;
}
.imagenAuto1{
  grid-area: imagenAuto1;
}
.descripcionAuto1{
  grid-area: descripcionAuto1;
}
.imagenAuto2{
  grid-area: imagenAuto2;
}
.descripcionAuto2{
  grid-area: descripcionAuto2;
}
.imagenAuto3{
  grid-area: imagenAuto3;
}
.descripcionAuto3{
  grid-area: descripcionAuto3;
}
.vision h2{
  padding: 10px;
  margin: 10px;
  color: #9c969c;
}
.vision p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: #9c969c;

}
  .entrenamiento img{
    width: 600px;
  }
  .entrenamiento{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .nosotros{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #9c969c;
    letter-spacing: 7px;
    font-weight: 500;
  }
  .tituloNosotros{
    font-size: 25px;
  }
  .cara2{
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagenAuto{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagenAuto p{
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .autoridadImagen1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .autoridadImagen2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nombreAuto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 7px;
    color: #9c969c;
    font-weight: 600;
  }
  .cargoAuto{
    font-weight: 500;
    color: #9c969c;
  }
  .descripcionAuto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
    font-weight: 600;
    color: #9c969c;
    margin: 20px;
  }
/* ---- PAGINA QUIENES SOMOS RD MOBILE -----*/
@media screen and (max-width: 480px){ 
.sectionGrid{
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(1fr*9);
  grid-gap: 20px;
  grid-auto-flow: row;
  grid-template-areas: 
  "vision"
  "entrenamiento"
  "nosotros"
  "imagenAuto1"
  "descripcionAuto1"
  "imagenAuto2"
  "descripcionAuto2"
  "imagenAuto3"
  "descripcionAuto3";
  width: 100%;  
}
  .entrenamiento img{
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .descripcionAuto{
    text-align: center;
  }
}
/* ------ PAGINA SERVICIOS ----------*/
  .serviciosGrid{
    display: grid;
    grid-template-columns: repeat(2fr*4);
    grid-template-rows: 1fr 2fr;
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: 
    "ideaServicios ideaServicios ideaServicios ideaServicios"
    "punto1 punto2 punto3 punto4";
    width: 100%;
  }
  .ideaServicios{
    grid-area: ideaServicios;
  }
  .punto1{
    grid-area: punto1;
  }
  .punto2{
    grid-area: punto2;
  }
  .punto3{
    grid-area: punto3;
  }
  .punto4{
    grid-area: punto4;
  }
  .ideaServicios p{
    text-align: center;
    color: #9c969c;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 5px;
  }
  .subtituloServicios{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #9c969c;
  }
  .detalleServicios{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color:#9c969c;
  }
.iconoServicios{
  justify-content: center;
  display: flex;
  font-size: 50px;
  color:#9c969c;
  padding: 10px;
}

  .tituloServicios{
    display: flex;
    justify-content: left;
    letter-spacing: 7px;
    padding: 8px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }


.serviciosGrid{
  display: grid;
  grid-template-columns: repeat(2fr*4);
  grid-template-rows: 1fr 2fr;
  grid-gap: 20px;
  grid-auto-flow: row;
  grid-template-areas: 
  "ideaServicios ideaServicios ideaServicios ideaServicios"
  "punto1 punto2 punto3 punto4";
  width: 100%;
}
/* ------- PAGINA SERVICIOS RD MOBILE --------*/
@media screen and (max-width: 480px){
  .serviciosGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: 
    "ideaServicios"
    "punto1"
    "punto2" 
    "punto3"
    "punto4";
    width: 100%;
  }
  .ideaServicios{
    grid-area: ideaServicios;
  }
  .punto1{
    grid-area: punto1;
  }
  .punto2{
    grid-area: punto2;
  }
  .punto3{
    grid-area: punto3;
  }
  .punto4{
    grid-area: punto4;
  }
}
/* ------- PAGINA CONTACTO ---------*/
.tituloContacto{
  display: flex;
  justify-content: left;
  letter-spacing: 15px;
  padding: 8px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.contact_form{	
	display: flex;
  justify-content: center;
  align-items: center;
  width: 460px; 
  border-radius: 10px;  
	padding-top: 10px;
	padding-bottom: 20px;  
  margin-left: 50px;
  background-color: #fbfbfb; 
  padding-left: 30px; 
}
.colocar_nombre{
  color: #9c969c;
}
.colocar_email{
  color: #9c969c;
}
.colocar_telefono{
  color: #9c969c;
}
.colocar_asunto{
  color: #9c969c;
}
.colocar_mensaje{
  color: #9c969c;
}
input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 30px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color:#9c969c; 
	margin-top: 5px;  
	padding-left: 10px;
  margin-bottom: 5px; 
}
textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color:#9c969c; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}
label{
  display: block; 
	float: center; 	
}
.btn-mensaje{
	height: 40px; 
	width: 420px;
	text-transform: uppercase;
	background-color:#9c969c ; 
	border-color:#9c969c; 
	border-style: solid; 
	border-radius: 10px;	  
  cursor: pointer;
  justify-content: center;
}
.btn-mensaje p{
	font-size: 15px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 5px;
}
span{
	color:#9c969c; 
}
.aviso{
	font-size: 13px;  
	color: #9c969c;  
}
::-webkit-input-placeholder {
  color: #a8a8a8;
}
::-webkit-textarea-placeholder {
  color: #a8a8a8;
}
.formulario input:focus{
	outline:0;
	border: 1px solid black;
}
.formulario textarea:focus{
	outline:0;
	border: 1px solid black;
}
.socialContacto a{
  color: #282d32;
  font-size: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contactoOficina p{
  
  color: #9c969c;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  margin: 10px;
}
.contactoOficina a{
  font-size: 50px;
  color: #9c969c;
  padding: 10px;
}
/* ------- PAGINA CONTACTO RD MOBILE ------*/
@media screen and (max-width: 480px){
.mainContacto{
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 0.4fr 0.4fr;
  grid-gap: 20px;
  grid-auto-rows: row;
  grid-template-areas:
  "contactoOficina"
  "formulario";
  width: 90%;
}
.contactoOficina{
    grid-area: contactoOficina;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact_form{
    grid-area: formulario;
  }
  .formularioContacto{
    display: flex;
    justify-content: center;
  }
  .contact_form{
    display: flex;
    justify-content: center;
    width: 100%
  }
  input{
    width: 350px;
    margin: auto;
  }
  textarea{
    width: 350px;
    margin: auto;
  }
  label{
    margin-left: 25px;
    margin: auto;
  }
  .btn-mensaje{
    width: 350px;
    margin: auto;
  }
  .aviso{
    margin:auto;
    padding-top: 15px;
  }
} 

/* ------ PAGINA NUESTROS JUGADORES -----*/
.tituloNuestrosJugadores{
  display: flex;
  justify-content: left;
  letter-spacing: 15px;
  padding: 8px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.jugador img{
  border-radius: 1rem;
}
.profesionales{
  color: #9c969c;
  font-size: 40px;
  padding: 10px;
}
.nombreJugador{
  color: #9c969c;
  font-size: 25px;
  letter-spacing: 6px;
}
.posicionJugador{
  color: #9c969c;
  font-size: 20px;
  letter-spacing: 2px;
}
#galeria img{
  width: 100%;
}
#galeria img:hover{
  border: 5px solid #f7f7f7;
}
#galeria .col-lg-4{
  padding: 10px;
}

/* -------FOOTER ----------*/
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
    margin-top: 10px;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 5px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social a:hover {
    opacity:0.5;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
